@charset "UTF-8";

@import "fonts", "reset";

// Layout **********
// Header **********
#header {
  color: var(--white);
  padding: 34px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background 0.1s;
  .inner {
    margin: 0 auto;
  }
  &.blur {
    background: rgba(var(--white-rgb), 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--white);
  }
  .btn-menu {
    color: var(--black);
  }
}
// Footer **********
#footer {
  border-top: 1px solid var(--bg-grey2);
  padding: 3em 2em;
  .inner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
  }
  dl {
    dt {
      font: {
        size: 1em;
        weight: 600;
      }
      margin-bottom: 1em;
    }
    dd {
      color: var(--black200);
      display: flex;
      align-items: center;
      font: {
        size: 0.75em;
        weight: 400;
      }
      strong {
        white-space: nowrap;
        margin-right: 1em;
      }
      span {
        color: var(--black300);
      }
      + dd {
        margin-top: 0.625em;
        &:last-child {
          margin-top: 0.875em;
        }
      }
      a {
        color: #1363df;
      }
    }
    &:nth-child(2) {
      margin-left: auto;
    }
  }
}
// Menu **********
#menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #0267f5;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  display: flex;
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s ease-in-out;
  transform: translate3d(0, -100%, 0);
  &.actived {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    .btn-menu-close {
      animation-name: fadeinUp;
      animation-fill-mode: both;
      animation-duration: 0.8s;
      animation-delay: 1s;
    }
    .main-menu li,
    .sub-menu,
    .copyright {
      animation-name: fadeinDown;
      animation-fill-mode: both;
      animation-duration: 0.8s;
    }
  }
  .btn-menu-close {
    position: absolute;
    top: 3em;
    right: 3em;
    width: 48px;
    height: 48px;
    text-indent: -9999em;
    border: {
      radius: 50%;
      style: solid;
      width: 2px;
      color: var(--transparent);
    }
    transition: border-color 0.4s;
    &:before,
    &:after {
      content: "";
      position: absolute;
      transform-origin: center;
      width: 60%;
      height: 3px;
      left: 50%;
      top: 50%;
      border-radius: 2px;
      background: var(--white);
      transition: transform 0.3s;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &:hover {
      border-color: var(--white);
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }
  .main-menu,
  .sub-menu,
  .copyright {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .main-menu {
    li {
      &:not(.social):not(.copyright) {
        a {
          text-decoration: none;
          color: var(--white);
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            top: 100%;
            height: 6px;
            background: var(--white);
            transition: width 0.38s ease-in-out;
          }
          &:hover {
            &:before {
              width: 100%;
            }
          }
          font: {
            size: 3em;
            weight: 800;
          }
        }
        + li {
          &:not(.social):not(.copyright) {
            margin-top: 1.2em;
          }
        }
      }
      &.social {
        display: flex;
        align-items: center;
        margin-top: 5em;
        a {
          text-decoration: none;
          color: var(--white);
          transition: color 0.38s;
          font: {
            size: 1.6em;
            weight: 800;
          }
          + a {
            margin-left: 2em;
          }
        }
      }
      &.copyright {
        margin-top: 2em;
        color: var(--white);
        font: {
          size: 1em;
          weight: 800;
        }
      }
      @for $i from 1 to 8 {
        &:nth-child(#{$i}) {
          animation-delay: (1.2 + $i * 0.2s);
        }
      }
    }
  }
}

// Contents **********
#header,
#intro,
#review,
#press {
  .inner {
    width: 100%;
    max-width: 1200px;
  }
}

#intro {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #edf4ff;
  padding: 2em;
  .lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  .inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .animate-text {
    position: relative;
    overflow: hidden;
    width: fit-content;
    z-index: 1;
    .text {
      color: var(--black);
      opacity: 0;
      font: {
        size: 3.25em;
        weight: 700;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      bottom: 0;
      z-index: 1;
      pointer-events: none;
    }
    &:nth-child(1) {
      &:before {
        background: var(--blue100);
      }
    }
    &:nth-child(2) {
      &:before {
        background: var(--blue200);
      }
    }
    &:nth-child(3) {
      &:before {
        background: var(--blue300);
      }
    }
    + .animate-text {
      margin-top: 1em;
    }
  }
  &.start-animate {
    .animate-text {
      .text {
        opacity: 1;
      }
      &:before {
        width: 100%;
        left: 105%;
      }
      &:nth-child(1) {
        .text {
          transition: opacity 0.5s ease 1s;
        }
        &:before {
          transition: width 0.5s 0s, left 0.5s ease 1s;
        }
      }
      &:nth-child(2) {
        .text {
          transition: opacity 0.5s ease 1.5s;
        }
        &:before {
          transition: width 0.5s 0.5s, left 0.5s ease 1.5s;
        }
      }
      &:nth-child(3) {
        .text {
          transition: opacity 0.5s ease 2s;
        }
        &:before {
          transition: width 0.5s 1s, left 0.5s ease 2s;
        }
      }
    }
  }
}

#review {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .inner {
    margin: 0 auto 3em;
    padding: 0 2em;
    h2 {
      margin-bottom: 20px;
      font: {
        size: 14px;
        weight: 900;
      }
    }
    h3 {
      .ani-text {
        display: block;
        line-height: 1.4em;
        font: {
          size: 2em;
          weight: 700;
        }
      }
      em {
        background: linear-gradient(to right, var(--point200), var(--point100));
        font-style: normal;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font: {
          size: 1em;
          weight: 700;
        }
      }
    }
  }
  .review-contents {
    width: 100%;
  }
  .review-item {
    border-radius: 10px;
    background: var(--grey100);
    padding: 2em;
    max-width: 420px;
    .quote {
      position: relative;
      line-height: 1.5em;
      font: {
        size: 1.2em;
        weight: 700;
      }
      &:before,
      &:after {
        content: '"';
      }
      &:before {
        margin-right: 3px;
      }
      &:after {
        margin-left: 3px;
      }
    }
    .user {
      margin-top: 1.2em;
      position: relative;
      display: flex;
      align-items: center;
      .user-photo {
        width: 40px;
        height: 40px;
        background: var(--white);
        border-radius: 50%;
        flex: 0 0 40px;
        margin-right: 0.625em;
      }
      .user-information {
        display: flex;
        justify-content: center;
        flex-direction: column;
        li {
          + li {
            margin-top: 0.125em;
          }
          &:nth-child(1) {
            color: var(--black900);
            font: {
              size: 0.688em;
              weight: 500;
            }
          }
          &:nth-child(2) {
            a {
              color: var(--black800);
              font: {
                size: 0.813em;
                weight: 500;
              }
            }
          }
        }
      }
    }
    + .review-item {
      margin-left: 2em;
    }
  }
}

// Animation **********
.page-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  .page-loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 60px;
    height: 60px;
    z-index: 10000;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: {
      left: 4px solid var(--grey100);
      top: 4px solid var(--blue200);
      right: 4px solid var(--grey100);
      bottom: 4px solid var(--grey100);
    }
    animation-fill-mode: both;
    animation: loading-icon 1s 0s linear infinite;
  }

  .page-loading-left,
  .page-loading-right {
    position: fixed;
    left: 0;
    right: 0;
    background: var(--white);
    transition: all 0.9s cubic-bezier(0.77, 0, 0.06, 1.005);
    transition-delay: 0.4s;
  }
  .page-loading-left {
    top: 0;
    height: 50%;
  }
  .page-loading-right {
    bottom: 0;
    height: 50%;
  }
  &.loaded {
    .page-loading-left {
      transform: translateX(100%);
    }
    .page-loading-right {
      transform: translateX(-100%);
    }
  }
}

// Animation
@keyframes loading-icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeinUp {
  0% {
    opacity: 0;
    transform: translateY(2.2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeinDown {
  0% {
    opacity: 0;
    transform: translateY(-2.2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Vendor Control
.infiniteslide_wrap {
  + .infiniteslide_wrap {
    margin-top: 2em;
  }
}

// Media Query **********
